<div id="feedback" class="container">
   <h2 class="title-section visually-hidden">Відгуки</h2>
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide customer-item">
          <article class="section">
            <div class="customers-review">
              <div class="customers-review__image-wrap">
                <picture>
                  <source
                    srcset="
                      ./images/Customers/testimonials1_1x.jpg 1x,
                      ./images/Customers/testimonials1_2x.jpg 2x
                    "
                  />
                  <img
                    src="./images/Customers/testimonials1_1x.jpg"
                    alt="Customer photo"
                    class="customers-review__image"
                  />
                </picture>
              </div>
              <div class="customers-review__wrap">
                <div class="customers-review__gradient">
                  <p class="customers-review__text">
                    Nullam viverra consectetuer. Quisque cursus et, porttitor
                    risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan
                    congue. Lorem ipsum primis in nibh vel risus.
                  </p>
                </div>
              </div>
              <p class="customers-review__name">Emily, Los Angeles</p>
            </div>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="section">
            <div class="customers-review">
              <div class="customers-review__image-wrap">
                <picture>
                  <source
                    srcset="
                      ./images/Customers/testimonials2_1x.jpg 1x,
                      ./images/Customers/testimonials2_2x.jpg 2x
                    "
                  />
                  <img
                    src="./images/Customers/testimonials2_1x.jpg"
                    alt="Customer photo"
                    class="customers-review__image"
                  />
                </picture>
              </div>
              <div class="customers-review__wrap">
                <div class="customers-review__gradient">
                  <p class="customers-review__text">
                    Nullam viverra consectetuer. Quisque cursus et, porttitor
                    risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan
                    congue. Lorem ipsum primis in nibh vel risus.
                  </p>
                </div>
              </div>
              <p class="customers-review__name">Anny, New York</p>
            </div>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="section">
            <div class="customers-review">
              <div class="customers-review__image-wrap">
                <picture>
                  <source
                    srcset="
                      ./images/Customers/testimonials3_1x.jpg 1x,
                      ./images/Customers/testimonials3_2x.jpg 2x
                    "
                  />
                  <img
                    src="./images/Customers/testimonials3_1x.jpg"
                    alt="Customer photo"
                    class="customers-review__image"
                  />
                </picture>
              </div>
              <div class="customers-review__wrap">
                <div class="customers-review__gradient">
                  <p class="customers-review__text">
                    Nullam viverra consectetuer. Quisque cursus et, porttitor
                    risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan
                    congue. Lorem ipsum primis in nibh vel risus.
                  </p>
                </div>
              </div>
              <p class="customers-review__name">Amanda, Chicago</p>
            </div>
          </article>          
        </div>
        <div class="swiper-slide customer-item">
          <article class="section">
            <div class="customers-review">
              <div class="customers-review__image-wrap">
                <picture>
                  <source
                    srcset="
                      ./images/Customers/testimonials1_1x.jpg 1x,
                      ./images/Customers/testimonials1_2x.jpg 2x
                    "
                  />
                  <img
                    src="./images/Customers/testimonials1_1x.jpg"
                    alt="Customer photo"
                    class="customers-review__image"
                  />
                </picture>
              </div>
              <div class="customers-review__wrap">
                <div class="customers-review__gradient">
                  <p class="customers-review__text">
                    Nullam viverra consectetuer. Quisque cursus et, porttitor
                    risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan
                    congue. Lorem ipsum primis in nibh vel risus.
                  </p>
                </div>
              </div>
              <p class="customers-review__name">Emily, Los Angeles</p>
            </div>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="section">
            <div class="customers-review">
              <div class="customers-review__image-wrap">
                <picture>
                  <source
                    srcset="
                      ./images/Customers/testimonials2_1x.jpg 1x,
                      ./images/Customers/testimonials2_2x.jpg 2x
                    "
                  />
                  <img
                    src="./images/Customers/testimonials2_1x.jpg"
                    alt="Customer photo"
                    class="customers-review__image"
                  />
                </picture>
              </div>
              <div class="customers-review__wrap">
                <div class="customers-review__gradient">
                  <p class="customers-review__text">
                    Nullam viverra consectetuer. Quisque cursus et, porttitor
                    risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan
                    congue. Lorem ipsum primis in nibh vel risus.
                  </p>
                </div>
              </div>
              <p class="customers-review__name">Anny, New York</p>
            </div>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="section">
            <div class="customers-review">
              <div class="customers-review__image-wrap">
                <picture>
                  <source
                    srcset="
                      ./images/Customers/testimonials3_1x.jpg 1x,
                      ./images/Customers/testimonials3_2x.jpg 2x
                    "
                  />
                  <img
                    src="./images/Customers/testimonials3_1x.jpg"
                    alt="Customer photo"
                    class="customers-review__image"
                  />
                </picture>
              </div>
              <div class="customers-review__wrap">
                <div class="customers-review__gradient">
                  <p class="customers-review__text">
                    Nullam viverra consectetuer. Quisque cursus et, porttitor
                    risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan
                    congue. Lorem ipsum primis in nibh vel risus.
                  </p>
                </div>
              </div>
              <p class="customers-review__name">Amanda, Chicago</p>
            </div>
          </article>          
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>