<section id="gallery-section" class="gallery">
    <div class="container section">
        <h2 class="title-section title-gallery">Галерея</h2>

        <ul class="grid-list">
            <li class="grid-item grid-item-1">
                <img class="grid-image" src="./images/gallery/gallery1.jpg" alt="image-gallery" />
            </li>
            <li class="grid-item grid-item-2">
                <img class="grid-image" src="./images/gallery/gallery2.jpg" alt="image-gallery" />
            </li>
            <li class="grid-item grid-item-3">
                <img class="grid-image" src="./images/gallery/gallery3.jpg" alt="image-gallery" />
            </li>
            <li class="grid-item grid-item-4">
                <img class="grid-image" src="./images/gallery/gallery4.jpg" alt="image-gallery" />
            </li>
            <li class="grid-item grid-item-5">
                <img class="grid-image" src="./images/gallery/gallery5.jpg" alt="image-gallery" />
            </li>
            <li class="grid-item grid-item-6">
                <img class="grid-image" src="./images/gallery/gallery6.jpg" alt="image-gallery" />
            </li>
            <li class="grid-item grid-item-7">
                <img class="grid-image" src="./images/gallery/gallery7.jpg" alt="image-gallery" />
            </li>
            <li class="grid-item grid-item-8">
                <img class="grid-image" src="./images/gallery/gallery8.jpg" alt="image-gallery" />
            </li>
            <li class="grid-item grid-item-9">
                <img class="grid-image" src="./images/gallery/gallery9.jpg" alt="image-gallery" />
            </li>
            <li class="grid-item grid-item-10">
                <img class="grid-image" src="./images/gallery/gallery10.jpg" alt="image-gallery" />
            </li>
            <li class="grid-item grid-item-11">
                <img class="grid-image" src="./images/gallery/gallery11.jpg" alt="image-gallery" />
            </li>
            <li class="grid-item grid-item-12">
                <img class="grid-image" src="./images/gallery/gallery12.jpg" alt="image-gallery" />
            </li>
        </ul>
    </div>
  </section>