<header>
    <nav class="header__wrapper">
        <div class="contacts__wrapper">
            <!-- <img class="logo" src="./images/logobmc.svg" width="125" height="125"/> -->
            <a class="logo" href="#">
                <svg class="logo-image" width="125" height="125">
                    <use href="./images/icons/icons.svg#icon-logobmc"></use>
                </svg>
                <!-- <img class="logo-image" src="./images/logobmc.svg" width="125" height="125"/> -->
            </a>
        
            <address class="adsress">
                <ul class="contacts">
                    <li class="contacts-item">
                        <a class="contacts-link"
                            href="https://goo.gl/maps/jVP4syCU9NQRup4r9" target="_blank" rel="noopener, noindex, nofollow">
                            <svg class="contacts-icon" width="32" height="32">
                                <use href="./images/icons/icons.svg#icon-map-pin"></use>
                            </svg>
                            м. Одеса, вул.Маршала Говорова, 18
                        </a>
                    </li>
                    <li class="contacts-item">
                        <a class="contacts-link" href="tel:0663217400">
                            <svg class="contacts-icon" width="32" height="32">
                                <use href="./images/icons/icons.svg#icon-phone"></use>
                            </svg>
                            +38 066 321 74 00
                        </a>
                    </li>
                </ul>
            </address>
            <button type="button" class="button-open button-open-header">Запис до центру</button>            
        </div>
        
        <ul class="menu">
            <li class="menu__item"><a class="menu__item-link" href="#">Про нас</a></li>
            <li class="menu__item"><a class="menu__item-link" href="#ourteachers">Викладачі</a></li>
            <li class="menu__item"><a class="menu__item-link"href="#">Заняття/Ціни</a></li>
            <li class="menu__item"><a class="menu__item-link"href="#gallery-section">Галерея</a></li>
            <li class="menu__item"><a class="menu__item-link"href="#footer">Контакти</a></li>
            <li class="menu__item"><a class="menu__item-link"href="#feedback">Відгуки</a></li>
        </ul>
    </nav>
</header>