<section class="hero">
    <div class="container hero-wrapper">
        <div class="hero-text-wrapper">
            <p class="hero-text-about">Центр вокалу, гри на музичних інструментах та хореографії</p>
            <h1 class="hero-title">
                Basis music center
            </h1>
            <p class="hero-text-annonce">Проводимо набір до центру</p>
            <p class="hero-text-annonce">Встигніть записатись!</p>
        </div>
        
        <button type="button" class="button-open button-open-hero">Запис до центру</button>    
    </div>
</section>