<section id="ourteachers" class="section teachers">
    <div class="container">
        <h2 class="title-section">Наші викладачі</h2>
        <ul class="teacher-list">
            <li class="teacher-item">
                <div class="teacher-image-wrap">
                    <img class="teacher-image-wrap" src="./images/teachers/teacher1.jpg" alt="teacher">
                </div>
                <div class="teacher-text-wrap">
                    <h3 class="teacher-item-title">Sksfjjafk Ljsfjkajf</h3>
                    <p class="teacher-item-major">викладач хореографії</p>
                    <p class="teacher-item-description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur a maiores ullam? Illo culpa corporis, neque perferendis placeat non nam?</p>
                </div>
            </li>
            <li class="teacher-item">
                <div class="teacher-image-wrap">
                    <img class="teacher-image-wrap" src="./images/teachers/teacher4.jpg" alt="teacher">
                </div>
                <div class="teacher-text-wrap">
                    <h3 class="teacher-item-title">Sksfjjafk Ljsfjkajf</h3>
                    <p class="teacher-item-major">викладач хореографії</p>
                    <p class="teacher-item-description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur a maiores ullam? Illo culpa corporis, neque perferendis placeat non nam?</p>
                </div>
            </li>
            <li class="teacher-item">
                <div class="teacher-image-wrap">
                    <img class="teacher-image-wrap" src="./images/teachers/teacher1.jpg" alt="teacher">
                </div>
                <div class="teacher-text-wrap">
                    <h3 class="teacher-item-title">Sksfjjafk Ljsfjkajf</h3>
                    <p class="teacher-item-major">викладач хореографії</p>
                    <p class="teacher-item-description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur a maiores ullam? Illo culpa corporis, neque perferendis placeat non nam?</p>
                </div>
            </li>
            <li class="teacher-item">
                <div class="teacher-image-wrap">
                    <img class="teacher-image-wrap" src="./images/teachers/teacher4.jpg" alt="teacher">
                </div>
                <div class="teacher-text-wrap">
                    <h3 class="teacher-item-title">Sksfjjafk Ljsfjkajf</h3>
                    <p class="teacher-item-major">викладач хореографії</p>
                    <p class="teacher-item-description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur a maiores ullam? Illo culpa corporis, neque perferendis placeat non nam?</p>
                </div>
            </li>
        </ul>
    </div>    
</section>